.load-indication-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

.user-navbar-container {
  position: fixed;
  width: 100%;
  z-index: 99;

  .user-navbar {
    display: flex;
    padding: 5px 10px;
    height: 55px;

    .general-info {
      display: flex;
      align-items: center;
      img {
        height: 35px;
        width: 35px;
        margin-left: 5px;
      }
    }

    .rce-avatar-letter {
      margin: 3px;
    }

    background-color: #efeae2 !important;
    border-bottom: 1px solid #cccccc40;

    .user-name {
      margin-left: 12px;
      line-height: 30px;
      font-size: 16px;
      font-weight: bold;
      margin-block: 0px;
      display: flex;
      align-items: center;
    }
  }
}

.message-list-container {
  position: absolute;
  left: 0px;
  right: 0px;
  overflow: auto;
  top: 55px;
}

.h1 {
  height: calc(100vh - 270px);
}

.h2 {
  height: calc(100vh - 232px);
}

.rce-mbox-video--video {
  max-width: 300px;
}

.react-input-emoji--input {
  min-height: 100px !important;
  max-height: 100px !important;
}

.react-input-emoji--placeholder {
  top: 10px !important;
  left: 12px !important;
  bottom: auto !important;
}

.message-input-container {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding-bottom: 5px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding-top: 5px;
  background: #cccccc4f;

  input {
    border: 1px solid;
  }

  .attach-btn {
    position: absolute;
    right: 65px;
    bottom: 60px;
    z-index: 9;

    img {
      width: 20px;
      height: 20px;
    }
  }

  .send-btn {
    position: absolute;
    right: 65px;
    bottom: 18px;
    z-index: 9;

    img {
      width: 25px;
      height: 25px;
    }
  }

  .attachment-info {
    display: flex;
    align-items: center;

    .attachment-name {
      margin: 0px;
      margin-left: 8px;
      color: #027eb5;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
    .attachment-btn {
      z-index: 9;
      margin-left: 10px;

      img {
        width: 23px;
        height: 23px;
      }
    }
  }

  .react-input-emoji--input {
    padding-right: 65px;
    border: 1px solid #ccc;
    border-radius: 21px;
  }
}

.rce-container-mlist.content-block.message-list {
  padding-bottom: 15px;
}
