.load-indication-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

.logos-container {
  margin: 20px 0 40px 0;
  text-align: center;
  svg {
    display: inline-block;
  }
}

.devextreme-logo {
  width: 200px;
  height: 34px;
  margin-bottom: 19px;
}

.react-logo {
  width: 184px;
  height: 68px;
}

.plus {
  margin: 23px 10px;
  width: 22px;
  height: 22px;
}

.screen-x-small .logos-container {
  svg {
    width: 100%;
    display: block;
    &.plus {
      margin: 0;
    }
  }
}
.user-navbar-container {
  position: fixed;
  width: 100%;
  z-index: 99;

  .user-navbar {
    display: flex;
    padding: 5px 10px;
    height: 55px;

    .rce-avatar-letter {
      margin: 3px;
    }

    background-color: #efeae2 !important;
    border-bottom: 1px solid #cccccc40;

    .user-name {
      margin-left: 12px;
      line-height: 30px;
      font-size: 16px;
      font-weight: bold;
      margin-block: 0px;
      display: flex;
      align-items: center;
    }
  }
}

.message-list-container {
  position: absolute;
  left: 0px;
  right: 0px;
  overflow: auto;
  height: calc(100vh - 240px);
  top: 55px;
}

.rce-mbox-video--video {
  max-width: 300px;
}

.react-input-emoji--input {
  min-height: 100px !important;
  max-height: 100px !important;
}

.react-input-emoji--placeholder {
  top: 10px !important;
  left: 12px !important;
  bottom: auto !important;
}

.message-input-container {
  position: absolute;
  bottom: 10px;
  left: 0px;
  right: 0px;

  // position: absolute;
  // bottom: 14px;
  // left: 16px;
  // width: 90%;
  // margin: 0 auto;
  // display: flex;

  .dx-button {
    position: absolute;
    right: 65px;
    bottom: 37px;
    z-index: 9;

    img {
      width: 32px;
      height: 32px;
    }
  }

  .react-input-emoji--input {
    padding-right: 65px;
  }
}

// .rce-container-input {
//   border-radius: 5px;
//   border: 1px solid #cccccc80;
// }
